
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:dimgray; padding:10px">
        Home - Products - News - About Us
    </div>
   <div>
       @RenderBody()
   </div>
   <div style="background-color:dimgray; padding:10px">
       Copyright: by BinhNC
       <script>
           document.write(new Date().getFullYear())
       </script>
   </div>
</body>
</html>
